table, td, th{
font-family: Arial, sans-serif;
font-size: 12px;

}

caption{
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: bold
}

Body{
width:100%;
background:#FFFFFF;
border-top: 0;
margin: 50px ;
padding: 0; 



}

td {
 	padding: 5px;/*Pads each table cell in modern browsers*/
 }

#page {
width:100%;
background:#FFFFFF;
border-top: 0;
margin: 0;
padding: 0; 
}
